// Colors
// -------------------------
@theme-color:#16c79e;
// @theme-color:#66a1ee;
@white: #fff;
@black: #333;
@bg-color: #ccc;
// @bright-color:#fb6662;
@bright-color: #ffff66;
@text-color: @black;
@link-color: @white;
@link-hover-color: darken(@bright-color,15%);
@link-active-color: darken(@link-hover-color, 25%);
