.sidebar-lt-md(){
  .side-bar{
    height: auto;
    position: static;

    .contact-info{
      float: left;
      margin: 0;
    }
  }
  .contact-info{
     &::before{
        display: none;
      }
      dt{
        display: none;
      }
      dd{
        padding: 0;
      }
  }
}
.side-links-lt-md(@size){
 .side-links{
    .horizontal-middle();
    top: 0;
    width: @size;
    ul{
      .float-container();

    }
    li{
      width: 50%;
      height: 30px;
      line-height: 30px;
      float: left;
      margin: 0;
      border: 1px solid #fff;
      border-radius: 0;
    }
  }
}
//小于767px
@media screen and (max-width: @screen-xs-max){
  .container{
    margin-top: 0;
    padding: 0;
  }
  .sidebar-lt-md();
  .side-ber .title{
    float: none;
    margin: 0;
    text-align: center;
  }
  .column{
    padding:  @padding-gutter-width/2;
  }
  .side-links-lt-md(100%);
}
//大于768px小于991px
@media screen and (min-width: @screen-sm-min) and (max-width:@screen-sm-max){
  .container{
    width: @container-sm;
    padding: 0;
  }
  .sidebar-lt-md();
  .side-bar .title{
      float: right;
      margin: 0;
      text-align: right;
  }
  .side-links-lt-md(@container-sm);
}
//大于992px小于1200px
@media screen and (min-width: @screen-md-min) and (max-width:@screen-md-max){
  .container{
    width: @container-md;
  }
   .side-bar{
    width: 33%;
  }
  .main{
    width: 67%;
  }
}
//大于1200px
@media screen and (min-width: @screen-lg-min) {
  .container{
    width: @container-lg;
  }
}
//小于992px
@media screen and (max-width:@screen-md-min) {
  .side-bar,.main{
    width: 100%;
    float: none;
  }
}

.invisible-lt-md {
  //大于992px显示，小于991px不显示
    @media screen and (min-width: @screen-md-min) {
        display: block;
    }
    @media screen and (max-width: @screen-sm-max) {
        display: none;
    }
}

.visible-lt-md {
  //大于992px不显示，小于991px显示
    @media screen and (min-width: @screen-md-min) {
        display: none;
    }
    @media screen and (max-width: @screen-sm-max) {
        display: block;
    }
}

.visible-print {
  @media print {
    display: block;
  }
  @media screen{
    display: none;
  }
}

.invisible-print {
  @media print {
    display: none;
  }
} 

@media print {
  .container {
    width: 1000px;
    height: 1415px;
    margin-top: 0;
    box-shadow: none;
  }
  body {
    font-family: @font-family-print-text;
    background: transparent;
  }
  h1,h2,h3,h4{
    font-family: @font-family-print-title;
  }
  section{
    // margin-bottom: @padding-huge-vertical;
    dt{
      padding-bottom: @padding-base-vertical;
    }
    dd{
      padding-top: @padding-small-vertical;
      padding-bottom: @padding-small-vertical;
    }
  }
  .qrcode{
    bottom:  @padding-gutter-width + @padding-huge-vertical;
  }
  .detail-link a{
    &::before{
      display: none;
    }
    font-size: @font-size-h4;
    border: none;
  }
}